
.container{
    max-width: 75%;
    margin-left: auto;

    padding: 0 15px;
}
.container-fluid{
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    box-sizing: border-box;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    font-weight: 24px;
}
a{
    text-decoration: none;
    display: inline-block;
    color: black;
    
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    border: none;
    text-align: center;
    text-decoration: none;
}